<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo Documento</strong>
  <%= @cliente.documento.nombre %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @cliente.numero_documento %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cliente.correo %>
</p>

<p>
  <strong>Telefono</strong>
  <%= @cliente.telefono %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
