<p id="notice"><%= notice %></p>

<p>
  <strong>Pmodulo:</strong>
  <%= @mmaquina.pmodulo %>
</p>

<p>
  <strong>Maquina:</strong>
  <%= @mmaquina.maquina %>
</p>

<%= link_to 'Edit', edit_mmaquina_path(@mmaquina) %> |
<%= link_to 'Back', mmaquinas_path %>
