<p id="notice"><%= notice %></p>

<h1>Listing Prestaciones</h1>

<table>
  <thead>
    <tr>
      <th>Cesantias</th>
      <th>Cesantias porcentaje</th>
      <th>Prima</th>
      <th>Prima procentaje</th>
      <th>Vacaciones</th>
      <th>Vacaciones porcentaje</th>
      <th>Intereses cesantias</th>
      <th>Intereses porcenjate</th>
      <th>Total prestacion</th>
      <th>Total porcentaje</th>
      <th>Sueldo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestaciones.each do |prestacion| %>
      <tr>
        <td><%= prestacion.cesantias %></td>
        <td><%= prestacion.cesantias_porcentaje %></td>
        <td><%= prestacion.prima %></td>
        <td><%= prestacion.prima_procentaje %></td>
        <td><%= prestacion.vacaciones %></td>
        <td><%= prestacion.vacaciones_porcentaje %></td>
        <td><%= prestacion.intereses_cesantias %></td>
        <td><%= prestacion.intereses_porcenjate %></td>
        <td><%= prestacion.total_prestacion %></td>
        <td><%= prestacion.total_porcentaje %></td>
        <td><%= prestacion.sueldo %></td>
        <td><%= link_to 'Show', prestacion %></td>
        <td><%= link_to 'Edit', edit_prestacion_path(prestacion) %></td>
        <td><%= link_to 'Destroy', prestacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestacion', new_prestacion_path %>
