<p id="notice"><%= notice %></p>

<p>
  <strong>Cesantias:</strong>
  <%= @prestacion.cesantias.round(2) %> 
</p>

<p>
  <strong>Cesantias porcentaje:</strong>
  <%= @prestacion.cesantias_porcentaje.round(2) %>
</p>

<p>
  <strong>Prima:</strong>
  <%= @prestacion.prima.round(0) %>
</p>

<p>
  <strong>Prima procentaje:</strong>
  <%= @prestacion.prima_procentaje.round(2) %>
</p>

<p>
  <strong>Vacaciones:</strong>
  <%= @prestacion.vacaciones.round(0) %>
</p>

<p>
  <strong>Vacaciones porcentaje:</strong>
  <%= @prestacion.vacaciones_porcentaje.round(2) %>
</p>

<p>
  <strong>Intereses cesantias:</strong>
  <%= @prestacion.intereses_cesantias.round(0) %>
</p>

<p>
  <strong>Intereses porcenjate:</strong>
  <%= @prestacion.intereses_porcenjate.round(2) %>
</p>

<p>
  <strong>Total prestacion:</strong>
  <%= @prestacion.total_prestacion %>
</p>

<p>
  <strong>Total porcentaje:</strong>
  <%= @prestacion.total_porcentaje.round(2) %>
</p>



<%= link_to 'Edit', edit_prestacion_path(@prestacion) %> |
<%= link_to 'Back', prestaciones_path %>
