<p id="notice"><%= notice %></p>

<h1>Listing Dlaborals</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Dias año</th>
      <th>Domingos</th>
      <th>Festivos</th>
      <th>Vacaciones</th>
      <th>Total dias</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dlaborals.each do |dlaboral| %>
      <tr>
        <td><%= dlaboral.dias_año %></td>
        <td><%= dlaboral.domingos %></td>
        <td><%= dlaboral.festivos %></td>
        <td><%= dlaboral.vacaciones %></td>
        <td><%= dlaboral.total_dias %></td>
        <td><%= link_to 'Show', dlaboral %></td>
        <td><%= link_to 'Edit', edit_dlaboral_path(dlaboral) %></td>
        <td><%= link_to 'Destroy', dlaboral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dlaboral', new_dlaboral_path %>
