<p id="notice"><%= notice %></p>

<p>
  <strong>Dias año:</strong>
  <%= @dlaboral.dias_año %>
</p>

<p>
  <strong>Domingos:</strong>
  <%= @dlaboral.domingos %>
</p>

<p>
  <strong>Festivos:</strong>
  <%= @dlaboral.festivos %>
</p>

<p>
  <strong>Vacaciones:</strong>
  <%= @dlaboral.vacaciones %>
</p>

<p>
  <strong>Total dias:</strong>
  <%= @dlaboral.total_dias %>
</p>

<%= link_to 'Edit', edit_dlaboral_path(@dlaboral) %> |
<%= link_to 'Back', dlaborals_path %>
