<p id="notice"><%= notice %></p>

<h1>Listing Tinstructors</h1>

<table>
  <thead>
    <tr>
      <th>Pturno</th>
      <th>Instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tinstructors.each do |tinstructor| %>
      <tr>
        <td><%= tinstructor.pturno %></td>
        <td><%= tinstructor.instructor %></td>
        <td><%= link_to 'Show', tinstructor %></td>
        <td><%= link_to 'Edit', edit_tinstructor_path(tinstructor) %></td>
        <td><%= link_to 'Destroy', tinstructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tinstructor', new_tinstructor_path %>
