<p id="notice"><%= notice %></p>

<p>
  <strong>Pturno:</strong>
  <%= @tinstructor.pturno %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @tinstructor.instructor %>
</p>

<%= link_to 'Edit', edit_tinstructor_path(@tinstructor) %> |
<%= link_to 'Back', tinstructors_path %>
