<p id="notice"><%= notice %></p>

<h1>Listing Moperarios</h1>

<table>
  <thead>
    <tr>
      <th>Imodulo</th>
      <th>Operario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moperarios.each do |moperario| %>
      <tr>
        <td><%= moperario.imodulo %></td>
        <td><%= moperario.operario %></td>
        <td><%= link_to 'Show', moperario %></td>
        <td><%= link_to 'Edit', edit_moperario_path(moperario) %></td>
        <td><%= link_to 'Destroy', moperario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moperario', new_moperario_path %>
