<p id="notice"><%= notice %></p>

<p>
  <strong>Imodulo:</strong>
  <%= @moperario.imodulo %>
</p>

<p>
  <strong>Operario:</strong>
  <%= @moperario.operario %>
</p>

<%= link_to 'Edit', edit_moperario_path(@moperario) %> |
<%= link_to 'Back', moperarios_path %>
