<p id="notice"><%= notice %></p>

<p>
  <strong>Porcenjatesalud:</strong>
  <%= @costome.porcenjatesalud %>
</p>

<p>
  <strong>Salud:</strong>
  <%= @costome.salud %>
</p>

<p>
  <strong>Porcentajepension:</strong>
  <%= @costome.porcentajepension %>
</p>

<p>
  <strong>Pension:</strong>
  <%= @costome.pension %>
</p>

<p>
  <strong>Porcentajerprofesional:</strong>
  <%= @costome.porcentajerprofesional %>
</p>

<p>
  <strong>Rprofesional:</strong>
  <%= @costome.rprofesional %>
</p>

<p>
  <strong>Porcentajesena:</strong>
  <%= @costome.porcentajesena %>
</p>

<p>
  <strong>Sena:</strong>
  <%= @costome.sena %>
</p>

<p>
  <strong>Porcentajeicbf:</strong>
  <%= @costome.porcentajeicbf %>
</p>

<p>
  <strong>Icbf:</strong>
  <%= @costome.icbf %>
</p>

<p>
  <strong>Porcentajecajacompensacion:</strong>
  <%= @costome.porcentajecajacompensacion %>
</p>

<p>
  <strong>Cajacompensaciontotal:</strong>
  <%= @costome.cajacompensaciontotal %>
</p>

<p>
  <strong>Porcentajetotal costom:</strong>
  <%= @costome.porcentajetotal_costom %>
</p>

<p>
  <strong>Total costom:</strong>
  <%= @costome.total_costom %>
</p>

<p>
  <strong>Porcentajetotalneto:</strong>
  <%= @costome.porcentajetotalneto %>
</p>

<p>
  <strong>Totalneto:</strong>
  <%= @costome.totalneto %>
</p>

<p>
  <strong>Sueldo:</strong>
  <%= @costome.sueldo %>
</p>

<%= link_to 'Edit', edit_costome_path(@costome) %> |
<%= link_to 'Back', costomes_path %>
