<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @maquina.nombre %>
</p>

<p>
  <strong>Estadom:</strong>
  <%= @maquina.estadom %>
</p>

<p>
  <strong>Especificaciones:</strong>
  <%= @maquina.especificaciones %>
</p>

<%= link_to 'Edit', edit_maquina_path(@maquina) %> |
<%= link_to 'Back', maquinas_path %>
