<p id="notice"><%= notice %></p>

<h1>Listing Tipocostos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipocostos.each do |tipocosto| %>
      <tr>
        <td><%= tipocosto.nombre %></td>
        <td><%= tipocosto.descripcion %></td>
        <td><%= link_to 'Show', tipocosto %></td>
        <td><%= link_to 'Edit', edit_tipocosto_path(tipocosto) %></td>
        <td><%= link_to 'Destroy', tipocosto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipocosto', new_tipocosto_path %>
