<p id="notice"><%= notice %></p>

<p>
  <strong>Tinstructor:</strong>
  <%= @imodulo.tinstructor %>
</p>

<p>
  <strong>Modulo:</strong>
  <%= @imodulo.modulo %>
</p>

<%= link_to 'Edit', edit_imodulo_path(@imodulo) %> |
<%= link_to 'Back', imodulos_path %>
