<p id="notice"><%= notice %></p>

<h1>Listing Tipmoneys</h1>

<table>
  <thead>
    <tr>
      <th>Siglas</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipmoneys.each do |tipmoney| %>
      <tr>
        <td><%= tipmoney.siglas %></td>
        <td><%= tipmoney.descripcion %></td>
        <td><%= link_to 'Show', tipmoney %></td>
        <td><%= link_to 'Edit', edit_tipmoney_path(tipmoney) %></td>
        <td><%= link_to 'Destroy', tipmoney, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipmoney', new_tipmoney_path %>
