<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo Vestuario</strong>
  <%= @modulo.tipovestuario.nombre rescue nil %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @modulo.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @modulo.descripcion %>
</p>

<%= link_to 'Edit', edit_modulo_path(@modulo) %> |
<%= link_to 'Back', modulos_path %>
