<p id="notice"><%= notice %></p>

<h1>Listing Sueldos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Salario</th>
      <th>Salario porcentaje</th>
      <th>Subsidio</th>
      <th>Subsidio procentaje</th>
      <th>Total sueldo</th>
      <th>Total porcentaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sueldos.each do |sueldo| %>
      <tr>
        <td><%= number_to_currency(sueldo.salario, precision: 3) %></td> 
        <td><%= sueldo.salario_porcentaje.round(2) rescue nil%>%</td>
        <td><%= number_to_currency(sueldo.subsidio, precision: 3) %></td>
        <td><%= sueldo.subsidio_procentaje.round(2) rescue nil %>%</td>
        <td><%= number_to_currency(sueldo.total_sueldo, precision: 3) %></td>
        <td><%= sueldo.total_porcentaje.round(2) %>%</td>
        <td><%= link_to 'Show', sueldo %></td>
        <td><%= link_to 'Edit', edit_sueldo_path(sueldo) %></td>
        <td><%= link_to 'Destroy', sueldo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sueldo', new_sueldo_path %>
