<p id="notice"><%= notice %></p>

<h1>Listing Resultado Costos</h1>

<table>
  <thead>
    <tr>
      <th>Dlaborales mes</th>
      <th>Costo dia</th>
      <th>Costo hora</th>
      <th>Costo minuto</th>
      <th>Recargo adicional</th>
      <th>Total minuto</th>
      <th>Sueldo</th>
      <th>Dlaboral</th>
      <th>Prestacion</th>
      <th>Costome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resultado_costos.each do |resultado_costo| %>
      <tr>
        <td><%= resultado_costo.dlaborales_mes %></td>
        <td><%= resultado_costo.costo_dia %></td>
        <td><%= resultado_costo.costo_hora %></td>
        <td><%= resultado_costo.costo_minuto %></td>
        <td><%= resultado_costo.recargo_adicional %></td>
        <td><%= resultado_costo.total_minuto %></td>
        <td><%= resultado_costo.sueldo %></td>
        <td><%= resultado_costo.dlaboral %></td>
        <td><%= resultado_costo.prestacion %></td>
        <td><%= resultado_costo.costome %></td>
        <td><%= link_to 'Show', resultado_costo %></td>
        <td><%= link_to 'Edit', edit_resultado_costo_path(resultado_costo) %></td>
        <td><%= link_to 'Destroy', resultado_costo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resultado costo', new_resultado_costo_path %>
