<p id="notice"><%= notice %></p>

<p>
  <strong>Dlaborales mes:</strong>
  <%= @resultado_costo.dlaborales_mes %>
</p>

<p>
  <strong>Costo dia:</strong>
  <%= @resultado_costo.costo_dia %>
</p>

<p>
  <strong>Costo hora:</strong>
  <%= @resultado_costo.costo_hora %>
</p>

<p>
  <strong>Costo minuto:</strong>
  <%= @resultado_costo.costo_minuto %>
</p>

<p>
  <strong>Recargo adicional:</strong>
  <%= @resultado_costo.recargo_adicional %>
</p>

<p>
  <strong>Total minuto:</strong>
  <%= @resultado_costo.total_minuto %>
</p>

<p>
  <strong>Sueldo:</strong>
  <%= @resultado_costo.sueldo %>
</p>

<p>
  <strong>Dlaboral:</strong>
  <%= @resultado_costo.dlaboral %>
</p>

<p>
  <strong>Prestacion:</strong>
  <%= @resultado_costo.prestacion %>
</p>

<p>
  <strong>Costome:</strong>
  <%= @resultado_costo.costome %>
</p>

<%= link_to 'Edit', edit_resultado_costo_path(@resultado_costo) %> |
<%= link_to 'Back', resultado_costos_path %>
