<div class="container">
  <div id="costo_general_<%= costo_general.id %>">
    
    <p id="notice"><%= notice %></p>
    
    <div class="well">
      <div class="row">
      
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        
    <p>
      <strong>Salario porcentaje:</strong>
      <%= costo_general.salario_porcentaje %>
    </p>
    <p>
      <strong>Salario:</strong>
      <%= costo_general.salario %>
    </p>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>
      <strong>Subsidio procentaje:</strong>
      <%= costo_general.subsidio_procentaje %>
    </p>
    
     
    <p>
      <strong>Subsidio:</strong>
      <%= costo_general.subsidio %>
    </p>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h3>
      <strong>Total sueldo:</strong>
      <%= costo_general.total_sueldo %>
    </h3>
      </div>
    
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
         
         <h3>
          <strong>Total porcentaje:</strong>
          <%= costo_general.total_porcentaje %>
        </h3>
         
   
      </div>
    </div>
    
    </div>

   <div class="well">
     
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <p>
      <strong>Cesantias porcentaje:</strong>
      <%= costo_general.cesantias_porcentaje %>
    </p>
     </div>
     
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
     
    <p>
      <strong>Cesantias:</strong>
      <%= costo_general.cesantias %>
    </p>
     </div>
   </div>
   
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
     <p>
      <strong>Prima procentaje:</strong>
      <%= costo_general.prima_procentaje %>
    </p>
    
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
     <p>
      <strong>Prima:</strong>
      <%= costo_general.prima %>
    </p>
     </div>
   </div>
   
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
     <p>
      <strong>Vacaciones porcentaje:</strong>
      <%= costo_general.vacaciones_porcentaje %>
    </p>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      
    <p>
      <strong>Vacaciones:</strong>
      <%= costo_general.vacaciones %>
    </p>
     </div>
   </div>
   
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
     <p><%= costo_general.interes_porcentaje %></p>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
     <p>
      <strong>Intereses cesantias:</strong>
      <%= costo_general.intereses_cesantias %>
    </p>
     </div>
   </div>
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h3>
        <strong>Total porcentaje:</strong>
        <%= costo_general.total_porcentaje_pres %>
      </h3>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
     <h3>
      <strong>Total prestacion:</strong>
      <%= costo_general.total_prestacion %>
    </h3>
     </div>
   </div>
   
   </div>
    
    
    <div class="well">
      <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       <p>
          <strong>Porcenjatesalud:</strong>
            <%= costo_general.porcenjatesalud %>
        </p>
       </div> 
       
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       
       <p>
        <strong>Salud:</strong>
        <%= costo_general.salud %>
       </p>
        
       </div> 
      </div>
       <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       
        <p>
          <strong>Porcentajepension:</strong>
          <%= costo_general.porcentajepension %>
        </p>
       </div> 
       
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       <p>
          <strong>Pension:</strong>
          <%= costo_general.pension %>
       </p>
       </div> 
      </div>
       <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        
        <p>
          <strong>Porcentajerprofesional:</strong>
          <%= costo_general.porcentajerprofesional %>
        </p>
       </div> 
       
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        <p>
          <strong>Rprofesional:</strong>
          <%= costo_general.rprofesional %>
        </p>
       </div> 
      </div>
       <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       
        <p>
          <strong>Porcentajesena:</strong>
          <%= costo_general.porcentajesena %>
        </p>
       </div> 
       
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       <p>
        <strong>Sena:</strong>
        <%= costo_general.sena %>
      </p>
       </div> 
      </div>
       <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        <p>
          <strong>Porcentajeicbf:</strong>
          <%= costo_general.porcentajeicbf %>
        </p>
       </div> 
       
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       <p>
          <strong>Icbf:</strong>
          <%= costo_general.icbf %>
       </p>
       </div> 
      </div>
       <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       <p>
          <strong>Porcentajecajacompensacion:</strong>
          <%= costo_general.porcentajecajacompensacion %>
       </p>
       </div> 
       
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       <p>
          <strong>Cajacompensaciontotal:</strong>
          <%= costo_general.cajacompensaciontotal %>
       </p>
       </div> 
      </div>
      <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        <p>
          <strong>Porcentajetotal costom:</strong>
          <%= costo_general.porcentajetotal_costom %>
        </p>
       </div> 
       
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        
        <p>
          <strong>Total costom:</strong>
          <%= costo_general.total_costom %>
        </p>
       </div> 
      </div>
      <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       
        <h3>
          <strong>Porcentajetotalneto:</strong>
          <%= costo_general.porcentajetotalneto %>
        </h3>
       </div> 
       
       <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
       
        <h3>
          <strong>Totalneto:</strong>
          <%= costo_general.totalneto %>
        </h3>
       </div> 
      </div>
    </div>
    
    
    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        <p>
          <strong>Dias año:</strong>
          <%= costo_general.dias_año %>
        </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p>
            <strong>Domingos:</strong>
            <%= costo_general.domingos %>
          </p> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
         <p>
            <strong>Festivos:</strong>
            <%= costo_general.festivos %>
         </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <p>
              <strong>Vacaciones:</strong>
              <%= costo_general.vacaciones_trabajador %>
           </p> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h3>
            <strong>Total dias:</strong>
            <%= costo_general.total_dias %>
          </h3> 
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        </div>
      </div>
      
    </div>
    
    
    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        <p>
          <strong>Dlaborales mes:</strong>
          <%= costo_general.dlaborales_mes %>
        </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <p>
              <strong>Costo dia:</strong>
              <%= costo_general.costo_dia %>
           </p> 
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        <p>
            <strong>Hlaborales:</strong>
            <%= costo_general.hlaborales %>
        </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        <p>
          <strong>Costo hora:</strong>
          <%= costo_general.costo_hora %>
        </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p>
            <strong>Costo minuto:</strong>
            <%= costo_general.costo_minuto %>
          </p> 
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        <p>
            <strong>Recargo adicional:</strong>
            <%= costo_general.recargo_adicional %>
        </p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <h3>
              <strong>Total minuto:</strong>
              <%= costo_general.total_minuto %>
           </h3> 
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
         <button type="button" class="btn btn-default btn-lg btn-block data">
          <%= link_to 'Eliminar', costo_general, method: :delete, remote: true %>
         </button> 
      </div> 
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myupdatecosto_general_<%= costo_general.id %>">
          Editar
        </button>
      </div>
    </div>
    
    
    
    <%= simple_form_for(costo_general, :method => :put, remote: true  ) do |f| %>
      <div class="modal fade" id="myupdatecosto_general_<%= costo_general.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title centrar" id="myModalLabel">Edición Costos</h4>
            </div>
            <div class="modal-body">
      
              <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Sueldo
      </a>
      <br>
      
      <div class="collapse" id="collapseExample">
        <div class="well">
          <%= f.input :salario, class:'' %>
          <%= f.input :salario_porcentaje, class:'' %>
          <%= f.input :subsidio, class:'' %>
          <%= f.input :subsidio_procentaje, class:'' %>
        </div>
      </div>
      
      
      <br>
    <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
  Prestaciones
</a>
<br>
<div class="collapse" id="collapseExample1">
  <div class="well">
    <%= f.input :cesantias_porcentaje, class:'' %>
    <%= f.input :prima_procentaje, class:'' %>
    <%= f.input :vacaciones_porcentaje, class:'' %>
    <%= f.input :interes_porcentaje, class:'' %>
  </div>
</div>  
      
      <br>
   
   
  <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
    Costo Mes
  </a>
  <br>
  <div class="collapse" id="collapseExample5">
    <div class="well">
      <%= f.input :porcenjatesalud, class:'' %>
      <%= f.input :porcentajepension, class:'' %>
      <%= f.input :porcentajerprofesional, class:'' %>
      <%= f.input :porcentajesena, class:'' %>
      <%= f.input :porcentajeicbf, class:'' %>
      <%= f.input :porcentajecajacompensacion, class:'' %>
    </div>
  </div>
    
    <br>
   
   <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
  Días Laborales
</a>
<br>
<div class="collapse" id="collapseExample3">
  <div class="well">
    <%= f.input :dias_año, class:'' %>
    <%= f.input :domingos, class:'' %>
    <%= f.input :festivos, class:'' %>
    <%= f.input :vacaciones_trabajador, class:'' %>
  </div>
</div>

<br>

    <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
  Resultado Costos
</a>
<br></br>
<div class="collapse" id="collapseExample4">
  <div class="well">
    <%= f.input :hlaborales, class:'' %>
  </div>
</div>
      
      
              <div class="form-actions">
                <%= f.button :submit, class:'btn btn-default btn-lg btn-block' %>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    <% end %>  
</div>

</div>