<!-- Button trigger modal -->
<h3 class="centrar">
  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
<%= image_tag("costos.png") %>
</button>
</h3>

<div class="row" id="container_costos">
  <%= render @costo_generals %>
</div>


<!-- Modal -->
<%= simple_form_for(@costo_general, remote: true) do |f| %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title centrar" id="myModalLabel">Costos Generales</h4>
    </div>
    <div class="modal-body">
    
      <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Sueldo
      </a>
      <br>
      
      <div class="collapse" id="collapseExample">
        <div class="well">
          <%= f.input :salario, class:'costo_general_salario' %>
          <%= f.input :salario_porcentaje, class:'salario_porcentaje' %>
          <%= f.input :subsidio, class:'subsidio' %>
          <%= f.input :subsidio_procentaje, class:'subsidio_procentaje' %>
        </div>
      </div>
      
      
      <br>
    <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
  Prestaciones
</a>
<br>
<div class="collapse" id="collapseExample1">
  <div class="well">
    <%= f.input :cesantias_porcentaje, class:'cesantias_porcentaje' %>
    <%= f.input :prima_procentaje, class:'prima_procentaje' %>
    <%= f.input :vacaciones_porcentaje, class:'vacaciones_porcentaje' %>
  </div>
</div>  
      
      <br>
   
   
  <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
    Costo Mes
  </a>
  <br>
  <div class="collapse" id="collapseExample5">
    <div class="well">
      <%= f.input :porcenjatesalud, class:'porcenjatesalud' %>
      <%= f.input :porcentajepension, class:'porcentajepension' %>
      <%= f.input :porcentajerprofesional, class:'porcentajerprofesional' %>
      <%= f.input :porcentajesena, class:'porcentajesena' %>
      <%= f.input :porcentajeicbf, class:'porcentajeicbf' %>
      <%= f.input :porcentajecajacompensacion, class:'porcentajecajacompensacion' %>
    </div>
  </div>
    
    <br>
   
   <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
  Días Laborales
</a>
<br>
<div class="collapse" id="collapseExample3">
  <div class="well">
   <%= f.input :dias_año, class:'dias_año' %>
    <%= f.input :domingos, class:'domingos' %>
    <%= f.input :festivos, class:'festivos' %>
    <%= f.input :vacaciones, class:'vacaciones' %>
    <%= f.input :total_dias, class:'total_dias' %>
  </div>
</div>

<br>

    <a class="btn btn-default btn-lg btn-block" role="button" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
  Resultado Costos
</a>
<br></br>
<div class="collapse" id="collapseExample4">
  <div class="well">
    
    <%= f.input :dlaborales_mes, class:'dlaborales_mes' %>
    <%= f.input :costo_dia, class:'costo_dia' %>
    <%= f.input :hlaborales, class:'hlaborales' %>
    <%= f.input :costo_hora, class:'costo_hora' %>
    <%= f.input :costo_minuto, class:'costo_minuto' %>
    <%= f.input :recargo_adicional, class:'recargo_adicional' %>
    <%= f.input :total_minuto, class:'total_minuto' %>  
  </div>
</div>
      
      
    </div>
    <div class="modal-footer">
      <%= f.submit "Guardar", class:'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
</div>
</div>
<% end %>



