<p id="notice"><%= notice %></p>

<p>
  <strong>Salario:</strong>
  <%= @costo_general.salario %>
</p>

<p>
  <strong>Salario porcentaje:</strong>
  <%= @costo_general.salario_porcentaje %>
</p>

<p>
  <strong>Subsidio:</strong>
  <%= @costo_general.subsidio %>
</p>

<p>
  <strong>Subsidio procentaje:</strong>
  <%= @costo_general.subsidio_procentaje %>
</p>

<p>
  <strong>Total sueldo:</strong>
  <%= @costo_general.total_sueldo %>
</p>

<p>
  <strong>Total porcentaje:</strong>
  <%= @costo_general.total_porcentaje %>
</p>

<p>
  <strong>Cesantias:</strong>
  <%= @costo_general.cesantias %>
</p>

<p>
  <strong>Cesantias porcentaje:</strong>
  <%= @costo_general.cesantias_porcentaje %>
</p>

<p>
  <strong>Prima:</strong>
  <%= @costo_general.prima %>
</p>

<p>
  <strong>Prima procentaje:</strong>
  <%= @costo_general.prima_procentaje %>
</p>

<p>
  <strong>Vacaciones:</strong>
  <%= @costo_general.vacaciones %>
</p>

<p>
  <strong>Vacaciones porcentaje:</strong>
  <%= @costo_general.vacaciones_porcentaje %>
</p>

<p>
  <strong>Intereses cesantias:</strong>
  <%= @costo_general.intereses_cesantias %>
</p>

<p>
  <strong>Total prestacion:</strong>
  <%= @costo_general.total_prestacion %>
</p>

<p>
  <strong>Total porcentaje:</strong>
  <%= @costo_general.total_porcentaje %>
</p>

<p>
  <strong>Porcenjatesalud:</strong>
  <%= @costo_general.porcenjatesalud %>
</p>

<p>
  <strong>Salud:</strong>
  <%= @costo_general.salud %>
</p>

<p>
  <strong>Porcentajepension:</strong>
  <%= @costo_general.porcentajepension %>
</p>

<p>
  <strong>Pension:</strong>
  <%= @costo_general.pension %>
</p>

<p>
  <strong>Porcentajerprofesional:</strong>
  <%= @costo_general.porcentajerprofesional %>
</p>

<p>
  <strong>Rprofesional:</strong>
  <%= @costo_general.rprofesional %>
</p>

<p>
  <strong>Porcentajesena:</strong>
  <%= @costo_general.porcentajesena %>
</p>

<p>
  <strong>Sena:</strong>
  <%= @costo_general.sena %>
</p>

<p>
  <strong>Porcentajeicbf:</strong>
  <%= @costo_general.porcentajeicbf %>
</p>

<p>
  <strong>Icbf:</strong>
  <%= @costo_general.icbf %>
</p>

<p>
  <strong>Porcentajecajacompensacion:</strong>
  <%= @costo_general.porcentajecajacompensacion %>
</p>

<p>
  <strong>Cajacompensaciontotal:</strong>
  <%= @costo_general.cajacompensaciontotal %>
</p>

<p>
  <strong>Porcentajetotal costom:</strong>
  <%= @costo_general.porcentajetotal_costom %>
</p>

<p>
  <strong>Total costom:</strong>
  <%= @costo_general.total_costom %>
</p>

<p>
  <strong>Porcentajetotalneto:</strong>
  <%= @costo_general.porcentajetotalneto %>
</p>

<p>
  <strong>Totalneto:</strong>
  <%= @costo_general.totalneto %>
</p>

<p>
  <strong>Dias año:</strong>
  <%= @costo_general.dias_año %>
</p>

<p>
  <strong>Domingos:</strong>
  <%= @costo_general.domingos %>
</p>

<p>
  <strong>Festivos:</strong>
  <%= @costo_general.festivos %>
</p>

<p>
  <strong>Vacaciones:</strong>
  <%= @costo_general.vacaciones %>
</p>

<p>
  <strong>Total dias:</strong>
  <%= @costo_general.total_dias %>
</p>

<p>
  <strong>Dlaborales mes:</strong>
  <%= @costo_general.dlaborales_mes %>
</p>

<p>
  <strong>Costo dia:</strong>
  <%= @costo_general.costo_dia %>
</p>

<p>
  <strong>Hlaborales:</strong>
  <%= @costo_general.hlaborales %>
</p>

<p>
  <strong>Costo hora:</strong>
  <%= @costo_general.costo_hora %>
</p>

<p>
  <strong>Costo minuto:</strong>
  <%= @costo_general.costo_minuto %>
</p>

<p>
  <strong>Recargo adicional:</strong>
  <%= @costo_general.recargo_adicional %>
</p>

<p>
  <strong>Total minuto:</strong>
  <%= @costo_general.total_minuto %>
</p>

<%= link_to 'Edit', edit_costo_general_path(@costo_general) %> |
<%= link_to 'Back', costo_generals_path %>
