<%= simple_form_for(@costo_fijo) do |f| %>
  <% if @costo_fijo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costo_fijo.errors.count, "error") %> prohibited this breakeven from being saved:</h2>

      <ul>
      <% @costo_fijo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="container">
    <div class="form-inputs">
    <%= f.input :arrendamiento, :input_html => {value: number_with_precision(f.object.arrendamiento, precision: 3) } %>
    <%= f.input :servicios_publicos, :input_html => {value: number_with_precision(f.object.servicios_publicos, precision: 3) } %>
    <%= f.input :nomina, :input_html => {value: number_with_precision(f.object.nomina, precision: 3) } %>
    <%= f.input :prestaciones, :input_html => {value: number_with_precision(f.object.prestaciones, precision: 3) }  %>
    <%= f.input :otros_gastos , :input_html => {value: number_with_precision(f.object.otros_gastos, precision: 3) }%>
    <%= f.input :papeleria, :input_html => {value: number_with_precision(f.object.papeleria, precision: 3) } %>
    <%= f.input :honorarios, :input_html => {value: number_with_precision(f.object.honorarios, precision: 3) } %>
    <%= f.input :gastos_mercadeo, :input_html => {value: number_with_precision(f.object.gastos_mercadeo, precision: 3) } %>
    <%= f.input :impuestos_municipales, :input_html => {value: number_with_precision(f.object.impuestos_municipales, precision: 3) } %>
    <%= f.input :otros, :input_html => {value: number_with_precision(f.object.otros, precision: 3) } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
 </div>
 
 
<% end %>
