<p id="notice"><%= notice %></p>

<h1>Listing Pmodulos</h1>

<table>
  <thead>
    <tr>
      <th>Proyecto</th>
      <th>Modulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pmodulos.each do |pmodulo| %>
      <tr>
        <td><%= pmodulo.proyecto %></td>
        <td><%= pmodulo.modulo %></td>
        <td><%= link_to 'Show', pmodulo %></td>
        <td><%= link_to 'Edit', edit_pmodulo_path(pmodulo) %></td>
        <td><%= link_to 'Destroy', pmodulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pmodulo', new_pmodulo_path %>
