<p id="notice"><%= notice %></p>

<h1>Listing Estandars</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estandars.each do |estandar| %>
      <tr>
        <td><%= estandar.descripcion %></td>
        <td><%= link_to 'Show', estandar %></td>
        <td><%= link_to 'Edit', edit_estandar_path(estandar) %></td>
        <td><%= link_to 'Destroy', estandar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estandar', new_estandar_path %>
