<p id="notice"><%= notice %></p>

<h1>Listing Moperaciones</h1>

<table>
  <thead>
    <tr>
      <th>Omaquina</th>
      <th>Operacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moperaciones.each do |moperacion| %>
      <tr>
        <td><%= moperacion.omaquina %></td>
        <td><%= moperacion.operacion %></td>
        <td><%= link_to 'Show', moperacion %></td>
        <td><%= link_to 'Edit', edit_moperacion_path(moperacion) %></td>
        <td><%= link_to 'Destroy', moperacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moperacion', new_moperacion_path %>
