<p id="notice"><%= notice %></p>

<p>
  <strong>Omaquina:</strong>
  <%= @moperacion.omaquina %>
</p>

<p>
  <strong>Operacion:</strong>
  <%= @moperacion.operacion %>
</p>

<%= link_to 'Edit', edit_moperacion_path(@moperacion) %> |
<%= link_to 'Back', moperaciones_path %>
