<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ayuda.nombre %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ayuda.url %>
</p>

<p>
  <strong>Opcional:</strong>
  <%= @ayuda.opcional %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ayuda.descripcion %>
</p>

<%= link_to 'Edit', edit_ayuda_path(@ayuda) %> |
<%= link_to 'Back', ayudas_path %>
