<p id="notice"><%= notice %></p>

<p>
  <strong>Siglas:</strong>
  <%= @documento.siglas %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @documento.nombre %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
