<p id="notice"><%= notice %></p>

<p>
  <strong>Operacion:</strong>
  <%= @operacion_maquina.operacion %>
</p>

<p>
  <strong>Maquina:</strong>
  <%= @operacion_maquina.maquina %>
</p>

<p>
  <strong>Tioperacion:</strong>
  <%= @operacion_maquina.tioperacion %>
</p>

<p>
  <strong>Sam:</strong>
  <%= @operacion_maquina.sam %>
</p>

<p>
  <strong>Calibreaguja:</strong>
  <%= @operacion_maquina.calibreaguja %>
</p>

<p>
  <strong>Ppp:</strong>
  <%= @operacion_maquina.ppp %>
</p>

<p>
  <strong>Margencostura:</strong>
  <%= @operacion_maquina.margencostura %>
</p>

<p>
  <strong>Guia acesorios:</strong>
  <%= @operacion_maquina.guia_acesorios %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @operacion_maquina.observaciones %>
</p>

<%= link_to 'Edit', edit_operacion_maquina_path(@operacion_maquina) %> |
<%= link_to 'Back', operacion_maquinas_path %>
