<p id="notice"><%= notice %></p>

<h1>Listing Procesoexts</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procesoexts.each do |procesoext| %>
      <tr>
        <td><%= procesoext.nombre %></td>
        <td><%= link_to 'Show', procesoext %></td>
        <td><%= link_to 'Edit', edit_procesoext_path(procesoext) %></td>
        <td><%= link_to 'Destroy', procesoext, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Procesoext', new_procesoext_path %>

