<%= simple_form_for(@reference) do |f| %>
  <%= f.error_notification %>

<div class="field">
    <%= f.label :referencia %><br>
    <%= f.text_field :ref %>
  </div>
  
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
