<p id="notice"><%= notice %></p>

<p>
  <strong>Tinstructor:</strong>
  <%= @ioperario.tinstructor %>
</p>

<p>
  <strong>Operario:</strong>
  <%= @ioperario.operario %>
</p>

<%= link_to 'Edit', edit_ioperario_path(@ioperario) %> |
<%= link_to 'Back', ioperarios_path %>
