<p id="notice"><%= notice %></p>

<p>
  <strong>Moperario:</strong>
  <%= @omaquina.moperario %>
</p>

<p>
  <strong>Maquina:</strong>
  <%= @omaquina.maquina %>
</p>

<%= link_to 'Edit', edit_omaquina_path(@omaquina) %> |
<%= link_to 'Back', omaquinas_path %>
